* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  display: flex;
  background-color: #343451;
}

.sidebar {
  background-color: #202123;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.btn-sidebar {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  cursor: pointer;
  border: none;
  display: block;
  width: 100%;
}

.btn-sidebar:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
}

.creator {
  text-align: center;
  padding: 15px;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}

.creator p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

.main {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main-header {
  width: 100%;
  text-align: center;
}

.feed {
  padding: 10px 20px;
  min-height: calc(100vh - 400px);
  margin-bottom: 90px;
}

.user-input-container {
  position: fixed;
  bottom: 0;
  width: calc(100% - 250px);
  border-top: 1px solid black;
  background-color: #343451;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-input {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
}

.user-input input {
  width: calc(100% - 70px);
  min-height: 40px;
  border: none;
  color: black;
  font-size: 1.01rem;
  padding: 10px 15px;
}

.user-input input:focus {
  border: none;
  outline: none;
  background-color: #f5f3f3;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  transition: 0.5s;
  background-size: 200% auto;
}

.submit:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
}

.small-text {
  font-style: italic;
  font-size: 0.85rem;
  text-align: center;
  padding: 0.75rem;
}

.content.user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content p {
  margin: 0.5rem 0;
  min-width: 20px;
  max-width: 80%;
  width: fit-content;
  display: flex;
  padding: 7.5px 20px;
  padding-bottom: 12px;
  line-height: 1.5;
}

.content.user p {
  border-radius: 10px 10px 0 10px;
  color: black;
  background-color: #CCC;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.content.assistant p {
  border-radius: 10px 10px 0 10px;
  color: black;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.content.assistant p {
  border-radius: 10px 10px 10px 0;
}

.history {
  padding: 20px 15px 20px 30px;
  background-color: #202123;
  height: 100%;
}

.history li {
  list-style: square;
  cursor: pointer;
  margin-bottom: 0.3rem;
}

.history li:hover {
  color: #CCC;
}
